body{
background:#020617;
color:white;
font-family:Arial;
padding:40px;
}

.dashboard{
display:flex;
gap:40px;
}

input,select{
display:block;
margin:10px 0;
padding:10px;
width:200px;
background:#1e293b;
border:none;
color:white;
}

button{
padding:10px;
background:#2563eb;
border:none;
color:white;
cursor:pointer;
}

table{
border-collapse:collapse;
}

td,th{
padding:10px;
border-bottom:1px solid #333;
}

canvas{
margin-top:40px;
}